@inherits Microsoft.AspNetCore.Components.LayoutComponentBase

<div class="container mt-3">
    <header class="bg-primary text-white p-3 mb-4 rounded">
        <h2>My Store App</h2>
    </header>

    <main class="p-3 border rounded mb-4">
        @Body
    </main>

    <footer class="text-center text-muted">
        <p>© 2025 My Store</p>
    </footer>
</div>
